<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd  
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <!-- 数据源配置文件 默认根路径下c3p0.properties -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>classpath:c3p0.properties</value>
        </property>
    </bean>

    <!-- 默认数据源 -->
    <bean id="defDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="jdbcUrl" value="${c3p1.jdbcUrl}" />
        <property name="driverClass" value="${c3p1.driverClass}" />
        <property name="user" value="${c3p1.user}" />
        <property name="password" value="${c3p1.password}" />
    </bean>
    
    <!-- 第二数据源 -->
    <bean id="2ndDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="jdbcUrl" value="${c3p2.jdbcUrl}" />
        <property name="driverClass" value="${c3p2.driverClass}" />
        <property name="user" value="${c3p2.user}" />
        <property name="password" value="${c3p2.password}" />
    </bean>
    
    <!-- 动态数据源 -->
    <bean id="dynamicDataSource" class="com.copy4dev.sshBase.db.DynamicDataSource">
        <property name="defaultTargetDataSource" ref="defDataSource"/>
        <property name="targetDataSources">
            <map>
                <entry key="defDataSource" value-ref="defDataSource"/>
                <!-- <entry key="dataSource2" value-ref="dataSource2"/> -->
            </map>
        </property>
    </bean>

    <!-- 配置sessionFactory 从xml文件中读取配置 -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <!-- 引用数据源 -->
        <property name="dataSource" ref="dynamicDataSource"></property>
        <!-- 配置hierbnet -->
        <property name="configLocation" value="classpath:baseconfig/hibernate.cfg.xml"></property>
        <!-- 映射文件 -->
        <property name="mappingLocations">
            <list>
                <value>classpath:com/copy4dev/sshBase/*/hbm/*.hbm.xml</value>
                <value>classpath:com/copy4dev/sshBase/*/hbm/*/*.hbm.xml</value>
                <value>classpath:com/copy4dev/sshBase/*/hbm/*/*/*.hbm.xml</value>
            </list>
        </property>
    </bean>

    <!-- 配置hibernate事务 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <!-- 切面 -->
    <tx:advice id="txadvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="add*" propagation="REQUIRED" rollback-for="Exception" />
            <tx:method name="del*" propagation="REQUIRED" no-rollback-for="MyException" />
            <tx:method name="update*" propagation="REQUIRED" />
            <tx:method name="save*" propagation="REQUIRED" />
            <tx:method name="insert*" propagation="REQUIRED" />
            <tx:method name="*" propagation="REQUIRED" read-only="true" />
            <tx:method name="insert*" propagation="REQUIRED" rollback-for="Exception" />
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <!-- 如com.base.www.service.impl.manage.system.UserSErviceImpl -->
        <aop:pointcut id="daoMethods" expression="execution(* com.copy4dev.sshBase.*.service.*.*.*.*.*(..))" />
        <aop:advisor advice-ref="txadvice" pointcut-ref="daoMethods" />
    </aop:config>

</beans>  